@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  color: #374151;
  background-color: transparent;
}

.nav-link:hover {
  background-color: #DBEAFE;
  color: #2563EB;
}

.nav-link-active {
  background-color: #2563EB;
  color: white;
}
